# ========================
# Node.js (FE & BE)
# ========================
**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# ========================
# Build output
# ========================
**/dist/
**/build/
**/.next/
**/out/

# ========================
# Logs
# ========================
**/logs/
**/*.log

# ========================
# OS / Editor
# ========================
.DS_Store
Thumbs.db
.vscode/
.idea/

run_dev.sh

# ========================
# Environment (secrets)
# ========================
**/.env
**/.env.*
!.env.example

# ========================
# Temp / Cache
# ========================
**/temp/
**/.eslintcache

# ========================
# TypeScript build info
# ========================
**/*.tsbuildinfo
